<aside>
  {% assign dirs = "" | split: "" %}

  {% for page in site.pages %}
    {% assign folder = page.dir | split: "/" | first %}
    {% if folder != "" and dirs contains folder == false %}
      {% assign dirs = dirs | push: folder %}
    {% endif %}
  {% endfor %}

  {% for dir in dirs %}
    {% assign has_index = site.pages | where: "dir", "/" | where: "name", "index.md" %}
    {% assign index_page = site.pages | where: "dir", "/" | where: "name", "index.md" %}
    
    <details>
      <summary>
        {% assign page_index = site.pages | where: "dir", "/" | where: "name", "index.md" | first %}
        {% assign index_path = dir | append: "/index.html" %}
        {% assign page_index = site.pages | where: "path", index_path | first %}
        {% if page_index %}
          <a href="{{ index_path }}">{{ dir }}</a>
        {% else %}
          {{ dir }}
        {% endif %}
      </summary>
    </details>
  {% endfor %}
</aside>


<!--
<aside id="sidebar">
  <ul class="tree">

    {% assign pages = site.pages | sort: "path" %}

    {% for page in pages %}
      {% if page.title and page.path contains "index.md" %}

        {% assign folder_url = page.url %}

        <li class="node folder">
          <details>
            <summary>
              <a href="{{ folder_url }}">{{ page.title }}</a>
            </summary>

            <ul>
              {% for subpage in pages %}
                {% if subpage.title and subpage.url != folder_url %}
                  {% if subpage.url contains folder_url %}
                    {% unless subpage.path contains "index.md" %}
                      <li class="node file">
                        <a href="{{ subpage.url }}">{{ subpage.title }}</a>
                      </li>
                    {% endunless %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>

          </details>
        </li>

      {% endif %}
    {% endfor %}

  </ul>
</aside>
-->
