{% assign path = include.path | default: "" %}
{% assign node = include.node %}

{% for key,value in node %}
  {% assign new_path = path | append: "/" | append: key %}
  {% if value.path %}
    <!-- It's a file -->
    <a href="{{ value.url }}">{{ key | remove: ".html" | remove: ".md" }}</a><br>
  {% else %}
    <!-- It's a folder -->
    <details>
      <summary>
        {% assign index_page = site.pages | where: "path", new_path | first %}
        {% if index_page %}
          <a href="{{ new_path }}">{{ key }}</a>
        {% else %}
          {{ key }}
        {% endif %}
      </summary>
      {% include sidebar_node.html node=value path=new_path %}
    </details>
  {% endif %}
{% endfor %}
