<div class="sidebar-section">
  <div class="folder-title">
    <span class="folder-label">Programming</span>
    <a class="sites-folder" href="/BeamNG.lua/programming/"></a>
  </div>
  <div class="folder-contents">
    <a class="sites-page" href="/BeamNG.lua/programming/writing-0gc-code.html">Optimizing GC</a>
  </div>

  <div class="folder-title">
    <span class="folder-label">common</span>
    <a class="sites-folder" href="/BeamNG.lua/common/"></a>
  </div>
  <div class="folder-contents">
    <a class="sites-page" href="/BeamNG.lua/common/BNG_DBG_DRAW.html">BNG_DBG_DRAW</a>
    <a class="sites-page" href="/BeamNG.lua/common/LuaVec3.html">LuaVec3</a>
  </div>

  <div class="folder-title">
    <span class="folder-label">ge</span>
    <a class="sites-folder" href="/BeamNG.lua/ge/"></a>
  </div>
  <div class="folder-contents">
    <a class="sites-page" href="/BeamNG.lua/ge/playerVehicle.html">playerVehicle</a>
    <a class="sites-page" href="/BeamNG.lua/ge/debugDrawer.html">debugDrawer</a>
  </div>

  <div class="folder-title">
    <span class="folder-label">vehicle</span>
    <a class="sites-folder" href="/BeamNG.lua/vehicle/"></a>
  </div>
  <div class="folder-contents">
    <a class="sites-page" href="/BeamNG.lua/vehicle/obj.html">obj</a>
  </div>
</div>