#sidebar {
  width: 280px;
  padding: 1rem;
  background: #f8f9fa;
  overflow-y: auto;
  font-family: monospace;
}

.tree {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.node {
  position: relative;
  padding-left: 1.2rem;
  line-height: 1.6;
  white-space: nowrap;
}

/* dotted vertical line */
.node::before {
  content: "";
  position: absolute;
  left: 0.55rem;
  top: 0;
  bottom: 0;
  border-left: 1px dotted #bbb;
}

/* depth indentation */
.depth-1 { margin-left: 1rem; }
.depth-2 { margin-left: 2rem; }
.depth-3 { margin-left: 3rem; }
.depth-4 { margin-left: 4rem; }

.folder > .arrow {
  cursor: pointer;
  display: inline-block;
  width: 1rem;
  user-select: none;
}

.file > .spacer {
  display: inline-block;
  width: 1rem;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: underline;
}








/*  typography */
html, body {
  font-family: "Overpass", "Trebuchet MS", "Helvetica", "Arial", "Verdana", sans-serif;
  -webkit-font-smoothing: antialiased; }

html, body,
p, .paragraph {
  font-family: "Overpass", "Trebuchet MS", "Helvetica", "Arial", "Verdana", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: #000; }

p, .paragraph {
  letter-spacing: 0.01em; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Overpass", "Trebuchet MS", "Helvetica", "Arial", "Verdana", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #222; }

h1, .h1 {
  font-size: 2.4em;
  font-weight: 600;
  line-height: 1.1em; }
  @media (max-width: 575px) {
    h1, .h1 {
      font-weight: 600; } }
h2, .h2 {
  font-size: 1.6em;
  font-weight: 800;
  line-height: 1.2em; }
  @media (max-width: 575px) {
    h2, .h2 {
      font-weight: 600; } }
h3, .h3 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: 600; }

h4, .h4 {
  font-size: 1.2rem;
  line-height: 1.2em;
  font-weight: 600; }

h5, .h5 {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

h6, .h6 {
  font-size: 1rem;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

i, .italic,
i *, .italic * {
  font-style: italic; }
