.container {
  display: flex;
}

#sidebar {
  width: 250px;
  background: #f0f0f0;
  padding: 1rem;
  overflow-y: auto;
  height: 100vh;
}

#sidebar ul {
  list-style: none;
  padding-left: 0;
}

#sidebar li {
  cursor: pointer;
}

#sidebar li.depth-1 { padding-left: 1rem; }
#sidebar li.depth-2 { padding-left: 2rem; }
#sidebar li.depth-3 { padding-left: 3rem; }

#sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0.2rem 0;
}

main {
  flex: 1;
  padding: 2rem;
}


/*  typography */
html, body {
  font-family: "Overpass", "Trebuchet MS", "Helvetica", "Arial", "Verdana", sans-serif;
  -webkit-font-smoothing: antialiased; }

html, body,
p, .paragraph {
  font-family: "Overpass", "Trebuchet MS", "Helvetica", "Arial", "Verdana", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: #000; }

p, .paragraph {
  letter-spacing: 0.01em; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Overpass", "Trebuchet MS", "Helvetica", "Arial", "Verdana", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #222; }

h1, .h1 {
  font-size: 2.4em;
  font-weight: 600;
  line-height: 1.1em; }
  @media (max-width: 575px) {
    h1, .h1 {
      font-weight: 600; } }
h2, .h2 {
  font-size: 1.6em;
  font-weight: 800;
  line-height: 1.2em; }
  @media (max-width: 575px) {
    h2, .h2 {
      font-weight: 600; } }
h3, .h3 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: 600; }

h4, .h4 {
  font-size: 1.2rem;
  line-height: 1.2em;
  font-weight: 600; }

h5, .h5 {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

h6, .h6 {
  font-size: 1rem;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

i, .italic,
i *, .italic * {
  font-style: italic; }
