<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>{{ page.title }} | BeamNG.lua</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/beamlua.css">
  <link rel="stylesheet" href="/assets/e32k-lua-highlighter.css">
</head>
<body>
  <div id="sites-backdrop"></div>
  <header>
    <a href="/BeamNG.lua/" style="display:flex; align-items:center;">
      <img src="/images/logo.png" alt="logo">
    </a>
    <div class="search-section">
      <input type="text" id="search-input" placeholder="Search...">
      <a class="header-btn" href="https://ko-fi.com/e32k_" target="_blank">Support Me</a>
      <button id="nav-burger"></button>
    </div>
  </header>

  <div id="results-container"></div>
  <script src="/assets/search.js"></script>

  <div class="layout">
    <aside id="sites">{% include sites.html %}</aside>
    <main class="content">
      <img src="/images/under-construction.gif" alt="Under Construction GIF">
      <img src="/images/construction-worker.gif" alt="Construction Worker GIF">
      <h1>{{ page.title | default: page.name }}</h1>
      {{ content }}
      {% if page.date %}
        <div class="moddate">Last modified: {{ page.date | date: "%B %-d, %Y" }}</div>
      {% endif %}
    </main>
    <aside id="overview">
      <h3 class="overview-top">On This Page:</h3>
      <nav id="TableOfContents"></nav>
    </aside>
  </div>

  <footer>
    <p>ok</p>
  </footer>

  <script src="/assets/beamlua.js"></script>
  <script src="/assets/e32k-lua-highlighter.js"></script>
</body>
</html>