<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>{{ page.title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <div>
      <h1>
        <img src="/images/BeamLua.png" alt="BeamNG logo">
        BeamNG Lua Documentation
      </h1>
    </div><div>
      <input type="text" id="search-input" placeholder="Search...">
      <a href="https://ko-fi.com/e32k_">Support Me</a>
    </div>
  </header>
  <ul id="results-container"></ul>
  <script src="/assets/search.js"></script>
  
  <div class="layout">
    <aside class="sites">
      {% include sites.html %}
    </aside>
    <main class="content">
       {{ content }}
    </main>
    <aside class="overview">
      <h3 class="overview-top">On This Page:</h3>
      <nav id="TableOfContents"></nav>
    </aside>
  </div>

  <footer>
    <p>&copy; 2026 E32k. All rights reserved.</p>
  </footer>

  <div id="dark-mode-toggle-wrapper">
    <button id="dark-mode-toggle">
      <span class="emoji">🌙</span>
    </button>
  </div>

  <script src="/assets/script.js"></script>
</body>
</html>
